body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('./assets/Headspace_background_image.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 100%;
  font-weight: 400;
}

#quote-box{
  width: 60%;
  min-height: 30vh;
  margin-inline: auto;
  background-color: hsl(var(--clr-white));
  border-radius: 1rem;
  padding: 4rem 3rem; 
}

.text-area {
  font-size: 1.5rem;
}

.button-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#author {
  font-size: 1.75rem;
  color: hsl(var(--clr-primary));
  text-transform: uppercase;
  padding: 1.5rem;
}

#new-quote {
  background-color: hsl(var(--clr-secondary));
  font-size: 1rem;
  font-weight: bold;
  min-height: 3rem;
  padding: 0 2rem;
  text-align: center;
  color: hsl(var(--clr-white));
  border-radius: 1.5rem;
  border: none;
  transition: all .2s ease-in-out; 
}

#new-quote:hover {
  cursor: pointer;
  box-shadow: 0 0.125rem rgba(0, 0, 0, 0.2);
}

#new-quote:active {
  background-color: hsl(var(--clr-primary));
}

#tweet-quote {
  background-color: hsl(var(--clr-secondary));
  min-height: 1.5rem;
  padding: 0.5rem 0.75rem;
  color: hsl(var(--clr-white));
  border-radius: 0.25rem;
  border: none;
  transition: all .2s ease-in-out; 
}

#tweet-quote:is(:hover, :focus) {
  cursor: pointer;
  background-color: hsl(var(--clr-tweet));
}